.note {
  padding: 10px 20px;
  color: #000;
  transition: background-color 0.15s ease;
  border-radius: 4px;
  animation: noteSlideIn 0.15s forwards;
  position: relative;
}

.note:hover {
  padding: 10px 20px;
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
}

.noteList .note:not(:last-child) {
  margin-bottom: 14px;
}

.noteLink {
  text-decoration: none;
}

.noteLinkActive .note {
  background-color: rgba(241, 196, 15, 0.5);
}

@keyframes noteSlideIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
