.noteList {
  width: 40%;
  padding: 10px;
  border-right: 1px solid #ccc;
  max-height: 100%;
  overflow: auto;
}

.note {
  padding: 10px 20px;
  color: #000;
  transition: background-color 0.15s ease;
  border-radius: 4px;
}

.note:hover {
  padding: 10px 20px;
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
}

.noteList .note:not(:last-child) {
  margin-bottom: 14px;
}
