.options-section img {
    object-fit: cover;
}

.note-window {
    width: 100%;
    margin: auto;
}

#root {
    max-width: 100%;
    width: 100%;
}

.options-section {
    background: #d7d4d4;
    padding: 5px;
    border-radius: 19px 19px 5px 5px;
    position: relative;
    box-shadow: 0px 5px 33px -7px rgb(0 0 0 / 75%);
}

.note-container {
    display: flex;
    background: #b5b0a3;
    width: 98%;
    margin: auto;
}

.note-sidebar {
    width: 30%;
    border-right: 1px solid;
    list-style: none;
    margin: 0;
    padding: 0;
}

.note-sidebar h2 {
    margin-top: 0;
    padding-top: 10px;
}

.note {
    border-bottom: 1px solid;
    text-align: left;
    padding: 0 20px;
}

.note.active {
    background: #d8bc5f;
}

.note-editor {
    width: 70%;
    display: flex;
    padding: 30px 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
}